
.box-gallery {
    display: none;
    background-color: #f4f4f4;
}

#gallery {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.image-container {
    margin: 10px;
    position: relative;
    display: inline-block;
}
  
.image-container img {
    width: 200px;
    height: 200px;
}
  
.image-container span {
    display: block;
    margin-top: 5px;
    color: #000;
    background: rgba(255, 255, 255, 0.7);
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}
  
#keywords {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#keywords span {
    font-size: 50px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: font-size 0.3s ease;
}
  
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
#gallery img {
    margin: 10px;
    width: 150px;
}