.main-nav a {
    color: inherit;
    text-decoration: none;
    margin-left: 20px;
    text-align: center;
    filter: drop-shadow(-1px 0 0px #1d1d1d);
    cursor: pointer;
}

.main-nav > ul > li {
    margin-left: 2em;
}

.main-nav a {
    transition: box-shadow .4s;
}

.btn-toggle-menu {
    display: none;
    margin: 0;
}

.main-nav a:hover {
    color: var(--clr-primary2);
    border-color: var(--clr-primary2);
}

.nav-list {
    list-style-type: none;
    margin-left: 7em;
    display: flex;
}


    
@media (max-width: 800px) {
        
    .nav-list {
        display: block;
        margin-left: 0;
        text-align: center;
        padding-left: 0;
    }
    
    .main-nav > ul > li {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }
    
    .main-nav a {
        display: block;
    }
    
    .main-nav {
        display: block;
        margin-left: 0;
        box-shadow: inset 0px -6px 0 var(--clr-primary-1);
    }
    
    .main-header .btn-toggle-menu {
        display: block;
    }
    
    .main-nav {
        display: none;
    }
    
    .main-nav > ul {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    
    .main-nav {
        position: fixed;
        top: 60px;
        background-color: var(--clr-primary1);
        width: 100%;
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 1s;
        align-items: end;
        align-content: end;
        left: 0;
    }
    
    body.menu-open .main-nav {
        grid-template-rows: 1fr;
    }
    
    .main-nav>ul {
        flex-direction: column;
        min-height: 0;
    }
    
    .main-nav>ul li {
        border-bottom: 1px solid #000;
        padding: 0.6em;
    }
    
    .main-nav a:hover {
        box-shadow: none;
        transition: color .3s;
        width: 100%;
    }

}

@media (max-width: 480px) {
    .nav-list {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .main-nav a {
        padding: 5px 0;
    }
}

